{
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-standard-scss"
  ],
  "rules": {
    "no-empty-source": null,
    "value-list-comma-newline-after": null,
    "font-family-name-quotes": null,
    "function-url-quotes": null,
    "declaration-empty-line-before": null,
    "rule-empty-line-before": null,
    "property-no-vendor-prefix": null,
    "font-family-no-missing-generic-family-keyword": null,
    "indentation": null,
    "selector-list-comma-newline-after": null,
    "declaration-colon-newline-after": null,
    "string-quotes": null,
    "color-function-notation": null,
    "selector-pseudo-element-colon-notation": null,
    "declaration-block-no-redundant-longhand-properties": null,
    "no-eol-whitespace": null
  }
}