footer {
	margin-top: 32px;
	width: 100%;
	padding: 0 24px 48px;
	box-sizing: border-box;

	font-family: 'GothamPro';
	font-weight: 700;
	font-style: normal;
	font-size: 16px;
	color: #071435;

	@media (max-width: 968px) {
		padding: 0 10px 20px;
	}
}

.section-support {
	height: 155px;
	border-top: 1px solid #e2e4f0;
	border-bottom: 1px solid #e2e4f0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	@media (max-width: 1200px) {
		padding-bottom: 24px;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
	}

	@media (max-width: 770px) {
		height: max-content;
		flex-wrap: nowrap;
	}
}

.support-contact {
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media (max-width: 770px) {
		justify-content: center;
		flex-wrap: wrap;
	}

	div {
		margin-left: 48px;

		@media (max-width: 770px) {
			margin-top: 24px;
		}

		p {
			font-weight: 700;
		}

		span {
			margin-top: 16px;
			font-weight: 400;
			color: #828ead;
		}
	}
}

.opportunities {
	list-style-type: none;
	padding: 0;
	display: flex;
	align-items: center;

	li {
		padding: 10px;
		box-sizing: border-box;
		margin-left: 22px;
		cursor: pointer;
		user-select: none;
		button {
			padding: 16px 24px;
			box-sizing: border-box;
			border: none;
			border-radius: 8px;
			background-color: #f2f6ff;
			color: #1551e5;
			font-weight: 400;
			cursor: pointer;
		}
	}
}

.privacy-policy {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;

	font-weight: 400;
	font-size: 16px;
	color: #828ead;

	ul {
		display: flex;
		list-style-type: none;

		@media (max-width: 1400px) {
			padding: 0;
			justify-content: center;
			flex-wrap: wrap;
		}

		li {
			padding: 8px;
			box-sizing: border-box;
			margin-left: 28px;
			display: flex;
			align-items: center;
			cursor: pointer;
			user-select: none;

			img {
				margin-right: 8px;
			}
		}
	}

	div {
		
		p {
			margin-top: 40px;
			text-align: center;
			line-height: 1.2;
		}
	}
}

.footer-menu {
	margin-top: 48px;
	display: flex;
	justify-content: space-between;

	@media (max-width: 800px) {
		justify-content: center;
		flex-wrap: wrap;
	}

	ul {
		flex: 0.25;
		text-align: left;
		list-style-type: none;
		padding: 0;
		font-weight: 400;

		@media (max-width: 560px) {
			margin: 35px;
			box-sizing: border-box;
		}

		li {
			padding: 8px;
			box-sizing: border-box;
			margin-top: 8px;
			cursor: pointer;
			user-select: none;

			&:first-child {
				margin-top: 0;
				margin-bottom: 24px;
				font-weight: 500;
			}
		}
	}
}

.separative-line {
	margin: 48px 0;
	height: 1px;
	width: 100%;
	display: block;
	background-color: #e2e4f0;
}
